

#geslacht-example-graph{
    height: 400px;
    width: 500px;
    margin-left: 120px;  
}

#salaris-work-branch-dropdown-geslacht{
    width: 400px;
    margin: auto;
    
}
#leeftijden-example-graph{
    height: 400px;
    width: 800px;
    margin-left: 10px;
}

#salaris-work-branch-dropdown-leeftijd{
    width: 800px;
    margin-left: 10px;
}

#salaris-work-branch-dropdown{
    margin: auto;
    width: 800px;
}

#salaris-example-graph{
    margin-left: 20px;
    width: 1500px;
}
#tekst_geslacht{
    text-align: center;
}

#tekst_leeftijd{
    margin-left: 10px;
}

#tekst_salaris{
    margin-left:600px;
}

#werkuren-work-branch-dropdown{
    margin-right: 10px;
    width: 700px;
}

#work-hours-table{
    width: 350px;
    margin-top: 40px;
}

#working-branch-dropdown{
    width: 350px;
}

#work-hours-table-leeftijd{
    height: 250px;
    width: 400px;
    margin-left: 100px;
    background-color: blue;
}
#werkuren-leeftijd-work-branch-dropdown{
    width: 400px;
    margin-left: 100px;
}
#tekst_werkuren_leeftijd{
    width: 400px;
    margin-left: 100px;
}