

#kenmerken-example-graph{
    height: 400px;
    width: 600px;
    
}

#salaris-work-branch-dropdown-geslacht{
    width: 600px;
    
}
#leeftijden-example-graph{
    height: 400px;
    width: 800px;
    
}

#salaris-work-branch-dropdown-leeftijd{
    width: 800px;
}

