

#geslacht-example-graph{
    height: 400px;
    width: 500px;
    margin-left: 120px;  
}

#salaris-work-branch-dropdown-geslacht{
    width: 400px;
    margin: auto;
    
}
#leeftijden-example-graph{
    height: 400px;
    width: 1000px;
    margin-left: 250px;
}

#salaris-work-branch-dropdown-leeftijd{
    width: 600px;
    margin: auto;
}

#salaris-work-branch-dropdown{
    margin: auto;
    width: 800px;
}

#salaris-example-graph{
    margin-left: 20px;
    width: 1500px;
}
#tekst_geslacht{
    text-align: center;
}

#tekst_leeftijd{
    text-align: center;
}

#tekst_salaris{
    margin-left:600px;
}

#werkuren-work-branch-dropdown{
    margin-right: 10px;
    width: 700px;
}

